.order-item {
  display: grid;
  grid-template-columns:
    minmax(0, 0.5fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr);
  align-items: start;
  gap: 15px;
  border: 1px solid tomato;
  padding: 20px;
  margin: 30px 0;
  font-size: 14px;
  color: #505050;
  overflow-x: hidden;
  word-break: break-word;
}

.order-item-food,
.order-item-name {
  font-weight: 600;
}

.order-item-name {
  margin-top: 30px;
  margin-bottom: 5px;
}

.order-item-address {
  margin-bottom: 10px;
}

.order-item select {
  background-color: #ffe8e4;
  border: 1px solid tomato;
  width: 120px;
  padding: 10px;
  outline: none;
}

.changing-text {
  font-weight: 500;
  color: black;
  font-size: 14px;
}

.loading-orders {
  text-align: center;
  padding: 10px;
}

.pagination {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid tomato;
  background-color: #ffe8e4;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .order-item {
    font-size: 12px;
    grid-template-columns: minmax(0, 0.5fr) minmax(0, 2fr) minmax(0, 1fr);
    padding: 15px 8px;
  }

  .order-item select {
    padding: 5px;
    font-size: 12px;
  }

  .order-item img {
    width: 40px;
  }
}
