.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

/* .about_section {
  width: 100%;
  float: left;
  background-image: url("../../assets/about-img.png");
  height: auto;
  background-size: 100%;
}

.about_img {
  width: 100%;
  float: left;
}

.about_taital_main {
  width: 100%;
  float: left;
  padding: 90px 0px;
}

.about_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #fefefd;
  font-weight: bold;
  padding-bottom: 10px;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #fefefd;
  margin: 0px;
}

.readmore_bt {
  width: 170px;
  float: left;
  margin-top: 30px;
}

.readmore_bt a {
  width: 100%;
  float: left;
  padding: 8px 10px;
  color: #292928;
  background-color: #fefefd;
  text-align: center;
  font-size: 18px;
}

.readmore_bt a:hover {
  color: #fefefd;
  background-color: #292928;
} */

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }

  .header-contents p {
    display: none;
  }

  .header-contents button {
    padding: 2vw 4vw;
  }
}
